/**{	outline:1px solid rgba(255,0,0,0.3);}*/
body {
  color: #000;
  font-family: Arial;
}

.plomo {
  background: #EEE;
}

.menu > a {
  text-decoration: none;
  color: #000;
}

.menu > a:hover {
  color: #fff;
  background: #F78181;
}

.dropdown-toggle > img, p, span {
  display: inline-block;
  margin-left: 4%;
}

.mg0 {
  margin: 0%;
}

.pd0 {
  padding-left: 0%;
}

.pdr0 {
  padding-right: 0%;
}

.pd10 {
  padding-left: 10%;
}

.mg1 {
  margin: 1%;
}

.mg2 {
  margin: 2% 0%;
}

.mg5 {
  margin: 5% 0%;
}

.mgl2 {
  margin-left: 2%;
}

.pdtb4 {
  padding: 35% 20% 26%;
}

.pdt2 {
  padding-top: 2%;
}

.pd1 {
  padding: 2% 0%;
}

.mgt4 {
  margin-top: 4%;
}

.span_reloj {
  font-size: 358%;
}

.carrito {
  background: #000;
  color: #fff;
}

.negro > p {
  color: #000;
}

.cartera {
  background: url("../images/slider1.jpg") no-repeat left;
}

.cartera:hover {
  background: url("../images/slider2.jpg") no-repeat right;
}

.autumn {
  border: 2px solid #fff;
  margin: 7% 28% 9%;
}

.menu2 > a {
  text-decoration: none;
  color: #CCCCCC;
}

.menu2 > a:hover {
  color: #000;
}

.border_latest {
  border: 1px solid #EEE;
}

.media > img {
  position: relative;
}

.p_guinda {
  color: #F78181;
}

.block {
  display: inline-block;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inli_b {
  display: inline-block;
}

.new {
  position: absolute;
  background: #F78181;
  color: #fff;
  padding: 1% 4%;
  float: left;
  margin-top: -74%;
  margin-left: 0%;
}

.sale {
  position: absolute;
  background: #000;
  color: #fff;
  padding: 1% 4%;
  float: left;
  margin-top: -87%;
  margin-left: 0%;
}

.p_plomo {
  color: #CCCCCC;
}

.marcas {
  background: url("../images/client-bg.jpg") left;
}

.lista_img {
  width: 10%;
  margin: 5% 1%;
}

.tachado {
  text-decoration: line-through;
}

.cart {
  background: #000;
  color: #fff;
  margin-right: 12%;
}

.iconos_categorias {
  font-size: 195%;
  padding: 45% 65% 45% 1%;
  border-right: 1px solid #CCCCCC;
}

.cont_categorias {
  border: 2px solid #CCCCCC;
  margin-left: 0%;
  padding: 2% 0%;
  margin-right: 3%;
}

.foot_negro {
  background: #444;
  color: #fff;
}

.ion {
  padding: 4%;
  background: #fff;
}

.ion_redond {
  padding: 19%;
  margin-top: 30%;
  background: #fff;
  border-radius: 100%;
}

.img_contact {
  background: url("../images/client-bg.jpg") no-repeat;
}

.contact_us {
  color: #fff;
  background: #F78181;
  margin: 15% 49% 17% 16%;
  padding: 1% 0%;
}

.datos_contactos {
  color: #fff;
  margin-top: 14%;
}

.formulario {
  padding: 1% 3%;
}

hr {
  margin-bottom: -11px;
}

@media (max-width: 750px) {
  .container {
    text-align: center;
  }
  .ion {
    padding: 0%;
  }
  .ion_redond {
    padding: 0%;
  }
  .iconos_categorias {
    padding: 0%;
  }
  iframe {
    width: 300px;
  }
  .fm {
    padding: 0%;
  }
}
