/**{	outline:1px solid rgba(255,0,0,0.3);}*/
body{color:#000; font-family: Arial;}
$background-plomo:#EEE;
$background-negro:#000;
$background-blanco:#fff;
$background-guinda:#F78181;
$background-oscuro:#CCCCCC;
.plomo{background:$background-plomo;}
.menu> a{text-decoration:none;color:$background-negro;}
.menu> a:hover{color:$background-blanco; background: $background-guinda;}
.dropdown-toggle > img, p, span {display:inline-block; margin-left: 4%;}
.mg0{margin:0%;}
.pd0{padding-left:0%; }
.pdr0{padding-right:0%;}
.pd10{padding-left: 10%;}
.mg1{margin:1%;}
.mg2{margin:2% 0%;}
.mg5{margin: 5% 0%;}
.mgl2{margin-left:2%;}
.pdtb4{padding: 35% 20% 26%;}
.pdt2{padding-top:2%;}
.pd1{padding: 2% 0%;}
.mgt4{margin-top:4%;}
.span_reloj{font-size:358%;}
.carrito{background: $background-negro; color: $background-blanco; }
.negro > p {color:$background-negro;}

.cartera{background:url("../images/slider1.jpg")no-repeat left;}
.cartera:hover{background:url("../images/slider2.jpg")no-repeat right;}
.autumn{border:2px solid #fff; margin:7% 28% 9%;}
.menu2> a{text-decoration:none;color:$background-oscuro;}
.menu2> a:hover{color:$background-negro;}

.border_latest{ border: 1px solid $background-plomo;}
.media >img{position: relative;}
.p_guinda{color:$background-guinda;}
.block{display: inline-block;}
.inline{display:inline;}
.block{display: block;}
.inli_b{display: inline-block;}
.new{position:absolute; background: $background-guinda;color:$background-blanco;
	padding: 1% 4%;float: left;margin-top:-74%; margin-left:0%;}
.sale{position:absolute; background: $background-negro;color:$background-blanco;
	padding: 1% 4%;float: left;margin-top:-87%; margin-left:0%;}
.p_plomo{color:$background-oscuro;}
.marcas{background:url("../images/client-bg.jpg")left;}
.lista_img{width: 10%; margin: 5% 1%;}
.tachado{text-decoration:line-through;}
.cart{background: $background-negro; color: $background-blanco;margin-right:12%;}
.iconos_categorias{font-size: 195%;padding: 45% 65% 45% 1%; border-right:1px solid $background-oscuro; }
.cont_categorias{border: 2px solid $background-oscuro;margin-left:0%;padding:2% 0%; margin-right:3%; }
.foot_negro{background:#444;color:$background-blanco;}
.ion{padding: 4%; background: $background-blanco;}
.ion_redond{padding: 19%; margin-top:30%; background: $background-blanco;border-radius: 100%;}
.img_contact{background:url("../images/client-bg.jpg")no-repeat;}
.contact_us{color:$background-blanco;background: $background-guinda;margin: 15% 49% 17% 16%;padding:1% 0%;}
.datos_contactos{color:$background-blanco;margin-top:14%;}
.formulario{padding:1% 3%;}
hr{margin-bottom: -11px;}
@media(max-width: 750px){
	.container{text-align: center;}
	.ion{padding: 0%;}
	.ion_redond{padding: 0%;}
	.iconos_categorias{padding: 0%;}
	iframe{width:300px;}
	.fm{padding: 0%;}
}