doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		title=pageTitle
		script(type="text/javascript" src="js/jquery.easing.min.js")
		script(type="text/javascript" src="js/jquery.js")
		link(rel="stylesheet" href="css/font-awesome.min.css")
		link(rel="stylesheet" href="css/icomoon.css")
		link(rel="stylesheet" href="css/bootstrap.min.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
		script(type="text/javascript" src="js/booststrap.min.js")
		link(rel="stylesheet" href="css/main.css")
	body
		.row.plomo
			.container
				.col-md-6
					h5 Defaut Welcome
				.col-md-6.pd1
					ul.list-unstyled.list-inline.pull-right
						li.menu
							img.img-responsive(src="images/flag1.png")
						li.menu
							a(href="#") Lenguaje
						li.menu
							span.glyphicon.glyphicon-usd
							a(href="#") Currency
						li.menu
							span.glyphicon.glyphicon-user
							a(href="#") My Account
		.row.pd3
			.container
				.col-md-4
					.row
						.col-md-2.mg2
							span.glyphicon.glyphicon-time.span_reloj
						.col-md-10
							h4 Open Time
							p 9:00 AM 10:PM
				.col-md-4
					img.img-responsive(src="images/logo.png")
				.col-md-4.list-unstyled
					.input-group
						input.form-control
						span.glyphicon.glyphicon-search
		.row.plomo
			.container
				ul.list-unstyled.list-inline.pull-left.mg1
					li.menu
						a.pdtb4 HOME
					li.menu
						a.pdtb4 CONTs
		.row.cartera.text-center.color_white
			.autumn
				h1 AUTUMN/WINTER LOOKBOOK
				h4 -2016 COLLECTION-
		.container
			.row
				.col-md-5
					img.img-responsive(src="images/banner1.jpg")
				.col-md-7
					img.img-responsive(src="images/banner2.jpg")
			.row
				hr
				ul.list-unstyled.list-inline.text-center
					li
						p <
					li
						a(href="#") Lenguaje
					li
						a(href="#") Lenguaje
					li
						a(href="#") Lenguaje
					li
						p >
			.row
				.col-md-3.media
					.new
						p new
				.col-md-3.gorro
					.sale
						p sale
					.new
						p new
				.col-md-3.bolso
					.sale
						p sale
				.col-md-3.cartera_cafe
					.new
						p new
		.row.marcas
			ul.list-unstyled.list-inline.text-center
				li
					img.img-responsive(src="images/client1.jpg")
				li
					img.img-responsive(src="images/client2.jpg")
				li
					img.img-responsive(src="images/client3.jpg")
				li
					img.img-responsive(src="images/client4.jpg")
				li
					img.img-responsive(src="images/client5.jpg")
		.container
			.row
				ul.list-unstyled.list-inline.text-center
					li
						p <
					li
						a(href="#") Lenguaje
					li
						a(href="#") Lenguaje
					li
						a(href="#") Lenguaje
					li
						p >
			.row
				.col-md-2.media2
				.col-md-2
				.col-md-2
				.col-md-2
				.col-md-2
				.col-md-2
			.row
				ul.list-unstyled.list-inline.text-center
					li
						p <
					li
						a(href="#") Lenguaje
					li
						p <
			.row
				.col-md-3
					img.img-responsive(src="images/a2.jpg")
					.datos_productos
				.col-md-3
					img.img-responsive(src="images/a2.jpg")
					.datos_productos
				.col-md-3
					img.img-responsive(src="images/a2.jpg")
					.datos_productos
				.col-md-3
					img.img-responsive(src="images/a2.jpg")
					.datos_productos