.row.plomo
	.container
		.col-md-3
			h5 
				strong ACCESORIOS
			P.mg0 Elige una hermosa blusa entre las muchas que encontrarás aquí. Ingresa también a la Guía de Compras Retira en Tienda
			span.ion.ion-social-facebook
			span.ion.ion-social-twitter
			span.ion.ion-wifi
			span.ion.ion-social-skype
			span.ion.ion-ios-football-outline
		.col-md-2
			h5 
				strong MY ACCOUNT
			ul.text-left.pd10
				li
					p My Account
				li
					p My Account
				li
					p My Accoun
				li
					p My Account	
		.col-md-2
			h5 
				strong INFORMATION
			ul.text-left.pd10
				li
					p My Account
				li
					p My Account
				li
					p My Accoun
				li
					p My Account
		.col-md-2
			h5 
				strong EXTRAS
			ul.text-left.pd10
				li
					p My Account
				li
					p My Account
				li
					p My Accoun
				li
					p My Account
		.col-md-3
			h5 
				strong ABOUT US
			.col-md-3
				span.ion_redond.ion-ios-location
				span.ion_redond.ion-ios-telephone
				span.ion_redond.ion-email
			.col-md-9
				p 8951 Marmora Road, Glasggonjcns jhuns
				p (5425)545454
				p (5455)54515
				p admin@bootexperts.com
.row.foot_negro
	.container
		p.mg1 Copyright&copy;2015
			spam.p_guinda booxExpress
			p.mg0 All right reserved
		img.img-responsive.pull-right.mg1(src="images/payment.png")

